body{
    display: flex;
    justify-content: center;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main{
    max-width: 1000px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

table{
    background: linear-gradient(45deg, #affff0, #cadbff);
    border: 2px solid rgb(48, 48, 48);
}

th, td{
    border: 1.5px solid rgb(48, 48, 48);
}
 

a{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2, h1{
    color: rgb(252, 106, 106);
}

pre{
    max-width: 90vw;
    overflow-x: scroll;
    line-height: 1.5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.first{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navigation{
    display: flex;
    flex-direction: column;
}
