body{
    background-color: rgb(255, 255, 255);
    font-family: 'Manrope';
}

header{
    background: #009999;
    font-family: 'Manrope';
    font-style: normal;
    color: #FF7400;
    font-size: 15px;
}

p{
    width: 90%;
    font-weight: 400;
    font-size: 18px;
}

main{
    margin: 5%
}
h3{
    font-weight: 600;
    color: #FF7400;
    font-size: xx-large
    
}

h4{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
}

h2{
    font-weight: bold;
    color: #FF7400;
    font-size: xx-large;
}
.logo{
    display: flex;
    margin-left: 5%;
    align-items: center;
}

td{
    background: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    border: 2px solid #006363;

}


table{
    border: 2px solid #006363;
}


th{
    border: 2px solid #006363;
    background: #5CCCCC;
    font-weight: 800;
    font-size: 20px;
    text-align: center;

}

nav{    
    display: flex;
    flex-direction: column;
}

a{
    color: black;
    font-size: 15px;

}

.utv{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.words{
    display: flex;
    flex-direction: ;
}

.present_simple{
    width: 90%;

}
pre{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}